<a href="https://colab.research.google.com/github/Vinsocf/colledge-finder/blob/main/Student_Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

firstName = str(input("Enter your first name: "))
lastName = str(input("Enter your last name: "))
standard = str(input("Enter your standard: "))
division = str(input("Enter your standards' division: "))

rollNo = int(input("Enter your Roll Nno.: "))

firstSubject = str(input("Enter the name of first subject: "))
secondSubject = str(input("Enter the name of second subject: "))
thirdSubject = str(input("Enter the name of third subject: "))

Enter your first name: vinay
Enter your last name: nayak
Enter your standard: 9
Enter your standards' division: b
Enter your Roll No.: 123
Enter the name of first subject: math
Enter the name of second subject: science
Enter the name of third subject: geo

In [4]:
fullName = firstName + " " + lastName
print(fullName)

vinay nayak

In [5]:

marksInFirstSubject = float(input("Enter marks obtained in " + firstSubject + ": "))
marksInSecondSubject = float(input("Enter marks obtained in " + secondSubject + ": "))
marksInThirdSubject = float(input("Enter marks obtained in " + thirdSubject + ": "))

Enter marks obtained in math: 67
Enter marks obtained in science: 77
Enter marks obtained in geo: 88

In [6]:
totalMarks = marksInFirstSubject + marksInSecondSubject + marksInThirdSubject
print(totalMarks)

232.0

In [7]:


percentage = totalMarks/3
print(percentage)

77.33333333333333

In [8]:

print("Name: " + fullName)
print("Class: " + standard + " " + division)
print("Roll No: " + str(rollNo))
print("Name of all three subjects: " + firstSubject + ", " + secondSubject + ", " + thirdSubject)
print("Total Marks obtained in above mentioned in three subjects is: " + str(totalMarks))
print("Percentage obtained by " + fullName + " is " + str(percentage))

Name: vinay nayak
Class: 9 b
Roll No: 123
Name of all three subjects: math, science, geo
Total Marks obtained in above mentioned in three subjects is: 232.0
Percentage obtained by vinay nayak is 77.33333333333333